body {
    background-color: #f5d9d5;
    font-family: "nunito", sans-serif;
}
.Tempora h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2rem;

}
.Tempora p {
    color: #f498b8;
    font-weight: 100;
    line-height: 2;
    font-size: 1.25em;
}
.content {
    margin-top: 100px;
}
#mainnavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainnavbar .nav-link {
    color: white;
}
#mainnavbar .nav-link:hover {
    color: #ea1c2c;
}
#mainnavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}
#heading span {
    color: #ea1c2c;
}
#heading h1 {
     font-weight: 100;
     font-size: 3rem;
}
@media (max-width: 1200px)
{
    #heading h1 {
        font-weight: 100;
        font-size: 2rem;

    }
}

